export default (handler) => async (context, arr2) => {
    context.props = context.props ? { ...context.props } : {};
    const req = context.req ? context.req : context;
    const res = arr2 || context.res;

    // Do your work here
    {{#if model}}
    const { {{ pascalCase name }} } = req.models;
    if (!req.query.{{ lowerCase name }}) {
        return res.status(404).end('Missing {{ lowerCase name }}');
    }
    {{/if}}

    if (context.req) {
        return {
            props: {
                ...handler ? (await handler(context)).props : {},
            },
        };
    }
    return handler(context, arr2);
};