import { SWRConfig } from 'swr'

import Layout from 'components/layout'
import { fetcherSWR } from 'services/fetcher'

function MyApp({ Component, pageProps }) {
    return pug`
        SWRConfig(value=$\{{ fetcher: fetcherSWR }})
            Layout
                Component(...pageProps)
    `;
}

export default MyApp
